header
    padding: 40px
    .menu
        position: fixed
        z-index: 1
        background-color: #202428
        padding: 40px
        .imgbox
            font-size: 20px
            margin-right: 80px 
            img
                width: 60%
    nav
        a
            color: #ffffff
            font-size: 18px
            margin: 0 10px 0
            &:hover
                color: #ffff00